<br>
<div>
  <ul class="list-group">
  <% @restaurants.each do |restaurant| %>
  <li class="list-group-item">
	<%= link_to restaurant.name, restaurant_path(restaurant) %> |
  <%= restaurant.address %> |
  <%= restaurant.phone_number %> |
  <%= restaurant.category %>
	</li>
  <% end %>
</ul>
</div>
<div class="pt-3">
  <%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>
